p{
	color:red;
}
#blue{
	color:blue;
}
table{
	border-collapse: collapse;
	width: 500px;
}
tr{
	height: 50px;
}
td{
	border: 2px solid black;
}
form{
	display:inline-block;
	border: 2px solid green;
}
a{	
	border: 5px dotted black;
	background-color: blue;
	text-decoration: none;
	margin:2px;
	padding: 2px;
	color:white;
}
a:hover{
	text-decoration: underline;
}